@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-manrope: "Manrope", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  font-family: "Manrope", ui-sans-serif, system-ui, sans-serif !important;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

* {
  font-family: "Manrope", ui-sans-serif, system-ui, sans-serif !important;
}
